{% extends 'main/base.html' %}

{% block title %}
Создать таск
{% endblock %}

{% block content %}
    <h1>Создать таск</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
        {{ form.task }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}